/*导航栏*/
header, footer{
	width: 100%;
	border: #455059;
	background-color: #1e252b ;
}

.head_background {
	display: flex;    
	/*实现垂直居中*/
	align-items: center;
	/*实现水平居中*/
	justify-content: center;
}

.logo{
	color: #F0FFFF;
	font-size: 30px;
	margin-left: 30px;
	font-weight: bolder;
	display: inline-block;
}

.site_list {
	display: inline-block;
	margin: auto 30px 0 auto;
	/* 靠右靠下 */
}

.site_list li{
	border: #323d47;
	padding: 6px 10px;
	margin: 0 0;
	list-style: none;
	display: inline-block;
	border-bottom-style: solid;
}
/*鼠标事件*/
.site_list li:link{
	background-color: #F0FFFF;
}
header nav ul li:hover{
	background-color: #323d47 ;
}

header nav ul li a{
	color: #F0FFFF;
	font-weight: bold;
	text-decoration: none;
	font-family: "microsoft yahei";
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

iframe {
	border: none;
	margin:0 auto;
	flex-grow: 1;
	height: auto;
	width: 100%;
}

#foottext {
	display: flex;    
	/*实现垂直居中*/
	align-items: center;
	/*实现水平居中*/
	justify-content: center;
	color: #F0FFFF;
}

#foottext #friend_site {
	color: #F0FFFF;
	display: inline-block;
	margin: 0 auto 0 30px;
}

#foottext #friend_site a{
	color: #a28b40 ;
}

#foottext #copyright {
	color: #F0FFFF;
	display: inline-block;
	margin: 0 30px 0 auto;
}

